extend layout
block head
  link(rel='stylesheet', href='/css/index.css')
block header
  div(class="index-container")
    a(href="/")
      |Index Page
block content
  img(src="/gfx/coops-logo.png",class="view-image") 
  h2 
    |CoOps Demo
  h3
    |About CoOps Demo #{version}
  p(class="info-text")
    |This is a demo implementation of CoOPS -collaboration protocol. 
    |This demo is implemented with NodeJs but the protocol it self is not language specific in any way.
  p(class="info-text")
    |All the components of this demo are Open Source and can be found from GitHub. 
    p(class="info-text")
      |Protocol specification can be found from: 
      a(href="https://github.com/foyt/coops-spec")
        |https://github.com/foyt/coops-spec
      br
      |And this demo from: 
      a(href="https://github.com/foyt/coops-demo")
        |https://github.com/foyt/coops-demo 
  if loggedUser
    div(class="create-container")
      a(href="/newdoc")
        |New Document
      a(href="/newimg")
        |New Image
    h3
      |Your files
    div(class="file-list")
      if files.length == 0
        |No files found
      each file in files
        if file.contentType == 'text/html;editor=CKEditor'
          a(class="file-list-item file-list-item-document",href="/editdoc/#{file._id}")
            = file.properties.title
        if file.contentType == 'image/png;editor=CoIllusionist'
          a(class="file-list-item file-list-item-image",href="/editimg/#{file._id}")
            = file.properties.title
        else
          a(class="file-list-item file-list-item-unknown",href="javascript:alert('#{file._id} type is unknown')",data-content-type="#{file.contentType}")
            = file.properties.title
  else
    h3
      |Your files
    div
      a(href="/login")
        |Login to see your files
